@import '../../Themes/_buttons';

.header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: $bg-forward;
	width: 100%;
	border-bottom: 1px solid $highlight-muted;

	.logo {
		padding: 10px;
		max-height: 40px;
		margin: 2px 6px -2px 0px;
	}

	.navigation {
		display: flex;
		align-items: center;
	}

	.regBtn,
	.loginBtn {
		margin-right: 10px;
	}

	.loginBtn {
		background-color: $bg-semi-bold;

		&:hover {
			background-color: $bg-semi-bold-alt;
		}
	}
}
