@import '../../Themes/_global';

.header {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-color: $bg-forward;
	width: 100%;
	border-bottom: 1px solid $highlight-muted;

	.logo {
		padding: 10px;
		max-height: 40px;
		margin: 2px 6px -2px 0px;
	}

	.navigation {
		display: flex;
		align-items: center;

		.reg,
		.login {
			border: none;
			cursor: pointer;
		}

		.reg {
			background: $bg-bold;
			&:hover {
				background: $bg-bold-alt;
			}
		}

		.login {
			background: $bg-semi-bold;
			&:hover {
				background: $bg-semi-bold-alt;
			}
		}
	}
}
