// to override global elements, such as #root or body
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans&display=swap');

@import '_variables';

* {
	font-family: sans-serif;
	color: $text-light;
	line-height: 1.2;
}

p {
	font-weight: 400;
	font-size: 0.9rem;
	line-height: 1.3;
}
