// Color variables

// Background variables
$bg-hero: #4ac09b;
$bg-bold: #c52772;
$bg-bold-alt: #cf2e7d;
$bg-semi-bold: #a51d62;
$bg-semi-bold-alt: #b42269;
$bg-base: #141221;
$bg-forward: #211f2e;
$bg-info: #272432;
$bg-info-alt: #2e2b3b;
$bg-secondary: #301f33;
$bg-secondary-alt: #422843;

// Text variables

$text-white: #ffffff;
$text-light: #f7f7f7;
$text-muted: #bababa;

// Accessories

$highlight-white: #ebeaee;
$highlight-muted: #a39abc;
$highlight-dark: #5e5577;
