.homeDiv {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;

	.genreBlockContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: sticky;
		top: 0;
	}

	.postBlockContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
