@use '../../Themes/variables' as *;

.homeDiv {
	.sortDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 28px;
		width: 100%;
		margin-top: 8px;

		.newSort {
			border-radius: 3px 0px 0px 3px;
		}

		.topSort {
			border-radius: 0px 3px 3px 0px;
		}

		.newSort,
		.topSort {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			font-size: 0.9rem;
			text-decoration: none;
			width: 50%;
			text-align: center;
			background-color: $bg-forward;
			border: 1px solid $highlight-dark;
			cursor: pointer;

			&:hover {
				background-color: $bg-info;
				border: 1px solid $highlight-muted;
			}
		}

		.selected {
			background-color: $bg-semi-bold;
			border: 1px solid $highlight-dark;
			&:hover {
				background-color: $bg-semi-bold-alt;
				border: 1px solid $highlight-muted;
			}
		}
	}
}
