@import '../../Themes/global';

.newPostInputDiv {
	width: 700px;
	margin-top: 8px;
	padding: 8px;
	border: 1px solid $highlight-dark;
	border-radius: 3px;
	background-color: $bg-forward;

	h1 {
		font-size: 2rem;
		margin: 8px;
	}

	.userInputDiv {
		.newInputDiv {
			display: flex;
			flex-direction: column;
			margin-top: 18px;

			label {
				margin-bottom: 4px;
			}

			input,
			textarea {
				background-color: $bg-info;
				border: 2px solid $highlight-dark;
				border-radius: 3px;
				padding: 4px 6px;
				height: 26px;
				font-size: 1rem;
			}

			textarea {
				height: 140px;
			}

			.genreSelect {
				width: 150px;
				background-color: $bg-info;
				border: 2px solid $highlight-dark;
				border-radius: 3px;
				font-size: 1rem;
				height: 38px;
				cursor: pointer;
			}
		}
		button {
			margin-top: 12px;
		}
	}
}
